$main-text-color: #333;
$second-text-color-gray: #b1b1b1;
$bg-color: #fff;
$accent-color: #00acdc;
$border-color: #f3f3f3;

// Кольори для зірок
$star-color-gray: #b1b1b1;
$star-color-active: #ffc107; // Жовтий/золотий
