.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;

  &__icons {
    display: flex;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;

    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(-n + 4) {
      background-image: url('../images/star-active.svg');
    }
  }

  &__reviews-text {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    vertical-align: bottom;
    color: $main-text-color;

  }
}

